version: '3.8'

services:
  redis:
    image: redis:7.4-alpine 
    container_name: my_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - redis_network
    command: redis-server --appendonly yes

volumes:
  redis_data:

networks:
  redis_network: